.scriptures-container {
  max-width: 2000px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: #f9f9f9;
  font-family: 'Georgia', serif;
  box-shadow: 0 22px 55px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease; /* Smooth transition for shadow */
}

.scriptures-container:hover {
  box-shadow: 0 30px 70px rgba(0, 0, 0, 0.2); /* Darker shadow on hover */
}

.scriptures-heading {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #333;
  font-weight: 600;
}

.scriptures-heading1 {
  font-size: 1.5rem;
  margin: 40px 0 20px;
  color: #000;
  margin-top: 100px;
}

.big-image img {
  max-width: 200%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease; /* Smooth transition for zoom effect */
}

.big-image img:hover {
  transform: scale(1.05); /* Slight zoom effect on hover */
}

.gallery-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
}

.gallery-item {
  margin: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  max-width: 450px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-top: 50px;
  transition: box-shadow 0.3s ease, transform 0.3s ease; /* Smooth transition for shadow and scale */
}

.gallery-item:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Darker shadow on hover */
  transform: translateY(-5px); /* Lift effect on hover */
}

.gallery-image {
  max-width: 100%;
  height: auto;
}

.gallery-content {
  padding: 15px;
}

.gallery-content p {
  font-size: 1rem;
  line-height: 1.5;
  color: #666;
  transition: color 0.3s ease; 
}

.gallery-item:hover .gallery-content p {
  color: #333; /* Darker text color on hover */
}