.navbar-links {
  justify-content: center;
  background-color: #fb9a0900;
  position: relative;
  font-family: 'Georgia', serif;
  padding-top: 20px;
  text-align: center;
}

.navbar-links a {
  text-decoration: none;
  color: #333333;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.5px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.navbar-li a:not(:first-child):before {
  content: '';
  height: 20px;
  width: 1px;
  background-color: #bbb;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}


.navbar-links a:hover {
  color: darkgreen;
  /* background-color: #f0f0f0; */
  border-radius: 5px;
}

@media screen and (min-width: 769px) {
  .navbar-links {
    gap: 60px;
  }

  .navbar-links a {
    font-size: 20px;
    padding: 10px 20px;
  }
}

@media screen and (max-width: 768px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
  }

  .navbar-links a {
    font-size: 18px;
    padding: 12px 16px;
  }

  .hamburger {
    display: block;
    position: absolute;
    top: 10px;
    right: 20px;
    width: 30px;
    height: 3px;
    background-color: #333;
    border-radius: 3px;
    transition: all 0.3s ease;
    cursor: pointer;
  }

  .hamburger::before,
  .hamburger::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #333;
    border-radius: 3px;
    transition: all 0.3s ease;
  }

  .hamburger::before {
    top: -10px;
  }

  .hamburger::after {
    top: 10px;
  }

  .hamburger.active {
    background-color: transparent;
  }

  .hamburger.active::before {
    transform: rotate(45deg);
    top: 0;
  }

  .hamburger.active::after {
    transform: rotate(-45deg);
    top: 0;
  }

  .navbar-links.active {
    display: flex;
  }
}
