.header-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;   
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);   padding: 10px 20px;
  position: relative;
  font-family: 'Georgia', serif;
}

.header-links {
  display: flex;
  gap: 15px;
}

.header-link {
  color: #000000;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Arial', sans-serif;
  padding: 8px 12px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.header-link:hover {
  color: cadetblue;
}

.header-donate {
  background-color: #f60;
  padding: 8px 16px;
  border-radius: 5px;
  margin-left: auto;
  color: #fff;
  text-decoration: none;
}

.header-donate:hover {
  background-color: #ff8c00;
}

.header-navbar .header-donate {
  position: absolute;
  right: 20px;
}
