.know-more-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #f9f5e9;
  border-radius: 8px;
  margin: 20px 0;
  gap: 20px;
}

.know-more-content h2 {
  font-size: 3em;
  font-weight: 500;
  color: #2c0202;
  letter-spacing: 0.5px;
  line-height: 1.2;
  text-transform: capitalize;
  font-family: 'Georgia', serif;
  text-align: center;
  margin: 20px 0;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: color 0.3s ease;
}

.know-more-content h2:hover {
  color: #008080;
}

.know-more-content.active {
  background-color: #ffe5b5;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.know-more-content {
  background-color: #f9f5e9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.know-more-content p {
  font-family: 'Georgia', serif;
  font-weight: 100;
  font-style: normal;
  line-height: 1.8;
  letter-spacing: 0.5px;
  text-align: left;
  color: #000000;
  margin-bottom: 20px;
}

.know-more-button {
  padding: 10px 20px;
  border: none;
  border-radius: solid 10px;
  cursor: pointer;
  font-size: large;
  
}

.know-more-button:hover {
  background-color: #ffe60928;
  color: rgba(0, 0, 0, 0.774);
  
}

.know-more-image {
  flex-shrink: 0;
}

.know-more-image img {
  max-width: 250px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

@media (max-width: 768px) {
  .know-more-container {
    flex-direction: column;
    text-align: center;
  }

  .know-more-image img {
    margin: 20px 0;
    max-width: 100%;
  }
  
  .know-more-content h2 {
    font-size: 1.5rem;
  }

  .know-more-content p {
    font-size: 1rem;
  }

  .know-more-button {
    padding: 8px 16px;
    font-size: medium;
  }
}
