/* Main container for the content and image */
.know-more-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  /* max-width: 1200px; */
 
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 10px;
  font-family: 'Georgia', serif;

}

/* Styling for the content section */
.know-more-content {
  width: 50%;
  padding-right: 20px;
}

.know-more-content h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.know-more-content p {
  font-size: 1rem;
  line-height: 1.6;
  color: #555;
  margin-bottom: 15px;
}

/* Styling for the button */
.know-more-button {
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 20px;
  background-color: #717171e1;

}

.know-more-button:hover {
  background-color: #71717198;
}

/* Styling for the image */
.know-more-image {
  width: 45%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.know-more-image img {
  width: 70%;
  height: 70%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Responsive Design */
@media (max-width: 768px) {
  .know-more-container {
    flex-direction: column;
    padding: 20px;
  }

  .know-more-content {
    width: 100%;
    padding-right: 0;
    text-align: center;
  }

  .know-more-image {
    width: 100%;
    margin-top: 20px;
  }

  .know-more-image img {
    width: 90%; /* Slight reduction in image size on smaller screens */
    border-radius: 10px;
  }
}